.App1 {
    text-align: center;
  }
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(136, 141, 143);
    color: white;
  }
  
  .nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }